#scoreText{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14pt;
    color: #00000;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
}
#gameTitle{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: #00000;
    position: absolute;
    top: 35px;
    left: 10px;
    height: 25px;
}
#gameArea{
    position: absolute;
    top: 75px;
    left: 10px;
    border: 1px black solid;
}
#logo{
    position: absolute;
    top: 25px;
    left: 25px;
    background: url("face.png");
        border:0px;
    width: 100px;
    height: 100px;
}